*{margin: 0;padding: 0;}
#head{max-width: 980px;margin: 0 auto;background-color: #ffc200;border-radius: 0px 0px 30px 30px;
	margin-bottom: 20px;
}
a{color: black;}
a:hover{text-decoration:none}
li{list-style-type: none;}
#head img{margin: 0 auto;	display: block;padding-top: 10px;padding-bottom: 30px;}
#body{max-width: 980px;margin: 0 auto;padding: 30px;}
#body .item{overflow: hidden;float: left;padding: 0 5px 5px 5px;height: 120px}
#body .item:nth-of-type(1n+0) img{background-image: url("https://myhccc.gitee.io/static/movie/images/d/1f21a58997194bbd.jpg")}
#body .item:nth-of-type(2n+0) img{background-image: url("https://myhccc.gitee.io/static/movie/images/d/4b6b5afb5822a82c.jpg")}
#body .item:nth-of-type(2n+1) img{background-image: url("https://myhccc.gitee.io/static/movie/images/d/305f1a6d70e9e540.jpg")}
#body .item:nth-of-type(3n+0) img{background-image: url("https://myhccc.gitee.io/static/movie/images/d/4ed9c57211eab3c2.jpg")}
#body .item:nth-of-type(4n+0) img{background-image: url("https://myhccc.gitee.io/static/movie/images/d/0829108410febd08.jpg")}
#body .item:nth-of-type(4n+1) img{background-image: url("https://myhccc.gitee.io/static/movie/images/d/94de574312219b37.jpg")}
#body .item:nth-of-type(5n+0) img{background-image: url("https://myhccc.gitee.io/static/movie/images/d/ca8d42564ea5fe6a.jpg")}
#body .item:nth-of-type(7n+0) img{background-image: url("https://myhccc.gitee.io/static/movie/images/d/262f174b8312874a.jpg")}
#body .item:nth-of-type(11n+0) img{background-image: url("https://myhccc.gitee.io/static/movie/images/d/e64e937644260bb5.jpg")}
#body .item img{width: 100%;border-radius: 10px;background-repeat: round;display: block}
#body .item p{margin: 0;font-size: 14px;line-height: 14px;overflow: hidden;height: 14px;margin-bottom: 6px;margin-top: 5px;}
h1{text-align: center}
#bottom li{float: left;margin-right: 10px;}
#context{max-width: 980px;margin: 0 auto;padding: 20px;}
#context p{border-bottom: 1px solid #AEB0B2}
#context p a{color: #ffc200}
#bottom{clear: both;max-width:980px;margin: 0 auto;padding: 20px;margin-bottom: 50px;background-color: #333;}
#bottom li{background-color: #ffc200;padding: 8px;border-radius: 3px;margin-bottom: 5px}
#bottom:after{content:"";display:block;clear:both;}
        .container {
            position: relative;
            z-index: 0;
			margin: 0 auto;
			max-width: 980px;
        }
@media (max-width:980px) {
		 #body .item p{margin-top: 8px;margin-bottom: 10px;}
		 #body{padding: 5px;}
		 .container{width: 90%;}
	  }
.blockbotton{width: 150px;margin: 0 auto;}