@media (min-width: 1000px) {
	body{
		max-width: 80%;
		margin: 0 auto;
	}
	}
	
	* {
	    margin: 0;
	    padding: 0;
	}
	
	#player {
	    width: 100vw;
	    height: auto;
	}
	
	.input-div {
	    margin: 0 auto;
	    width: 70%;
	}
	.likeyou{
		margin: 30px;
	}
	.likeyou_list div{
		float: left;
		margin-left: 20px;
	}
	.likeyou_list div{
		width: 135px;
	}
	.likeyou_list img:hover{
		border: 3px solid red;
	}
	.likeyou_list p{
		height: 20px;
		overflow: hidden;
		color: white !important;
	} 